<section class="grid col-span-1">
  <div class="relative" style="background-image: url('/photo/first.jpg'); background-size: 100% auto; min-height: 55vh;"></div>
  <div class="h-[45vh]">
    <div class="relative z-50">
      <div class="border-4 border-gold"></div>
      <div class="w-full flex items-center justify-center relative bottom-[26px]">
        <button class="bg-gold py-2 px-4 rounded-md text-white shadow-lg shadow-black" id="scroll-button">
          Buka Undangan
        </button>
      </div>
    </div>
    <div style="background-image: url('/Icon/home.svg'); background-size: 100% auto;
    position: relative;
    bottom: 45px;
    background-repeat: no-repeat;
    background-position: center;">
    <div class="h-[45vh] text-center leading-10 items-center justify-center grid text-gold">
      <div>
        <div>
          The Wedding Of
        </div>
        <h1 class="text-5xl leading-10 font-title py-3">Tino & Eka</h1>
        <div class="mb-[50px] text-sm">
          Kepada Yth.Bapak/Ibu/Saudara/i
        </div>
        <div class="text-sm">
          <hr />
          Mohon maaf jika ada kesalahan <br/> penulisan nama / gelar
        </div>
        </div>
      </div>
  </div>
  </div>
</section>

<script>
  document
    .getElementById("scroll-button")
    .addEventListener("click", function () {
      var targetSection = document.getElementById("my-section");
      var offset = targetSection.offsetTop - 13;

      // Perform smooth scrolling
      window.scrollTo({
        top: offset,
        behavior: "smooth",
      });
    });
</script>

<style>
  @keyframes scrollAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  
  .animate-scroll {
    animation: scrollAnimation 1s ease-in-out infinite;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
</style>
