<section id="footer">
    <div class="grid text-center items-center justify-center">
        <div class="text-gold px-5 py-5">
            <h1>Doa Restu Anda merupakan karunia yang sangat berarti bagi kami.</h1>
            Nothing brings more joy than your presence on our happy day and thank you for your sincere prayers and hopes for us
        </div>
        <hr class="centered-hr">
        <h1 class="text-2xl text-bold text-gold py-4">Kami Yang Berbahagia</h1>
        <div class=" text-center text-bold text-gold">

            <p class=" text-base">Keluarga Besar</p>
            <h1 class="text-2xl text-bold">Adv.I Wayan Lama,S.H</h1>

            <h1 class="text-2xl">&</h1>

            <p class="text-base">Keluarga Besar</p>
            <h1 class="text-2xl text-bold">I Made Widnya</h1>
        </div>
        <div class=" text-gold py-4">
            <h1>OM SHANTI SHANTI SHANTI OM</h1>
        </div>
        <div class="p-4 bg-black text-center text-white">
            <p>&copy; 2023 Bokek wedding. All rights reserved.</p>
        </div>
        <div>

        </div>
    </div>
</section>

<style>
    .centered-hr {
        margin: 0 auto;
        width: 50%; /* Adjust the width as needed */
        border: 1px solid gold; /* You can set your desired border style here */
      }
</style>