<div id="loading-screen">
  <div style="background-image: url('/compress/DSCF6300-min.jpg'); background-size: 100% auto;">
    <div>
        <h3>Undangan Pernikahan</h3>
        <h1>Tino & Eka</h1>
        
        <div id="loading-animation">
          <div class="loading-dots">
            <div class="dot" style="animation-delay: 3s"></div>
            <div class="dot" style="animation-delay: 6s"></div>
            <div class="dot" style="animation-delay: 9s"></div>
          </div>
        </div>
    </div>
  </div>
  