<section id="my-section" class="relative py-6 px-8" style="
background-image: url(/Icon/second.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
height:100vh;
">
  <div class="text-center text-gold text-sm py-12">
    <div class="grid gap-1">

      <h2>The Beloved</h2>
      <h1 class="font-bold text-brownDark">GROOM & BRIDE</h1>

      <div class="w-full flex items-center justify-center">
        {{ readFile "public/Icon/tino_photo.svg" | safeHTML }}
      </div>

      <h1 class="text-base font-semibold">I MADE ALANTINO</h1>
      <h5>THE SON OF</h5>
      <h5>Mr. Adp.I Wayan Lama,SH</h5>
      <h5>Mrs. Made Artini</h5>

      <h1 class="font-title text-2xl">&</h1>

      <div class="w-full flex items-center justify-center">
        {{ readFile "public/Icon/eka_photo.svg" | safeHTML }}
      </div>

      <h1 class="text-base font-semibold">NI LUH EKA ASTUTI</h1>
      <h5>THE SON OF</h5>
      <h5>Mr. I Made Widnya</h5>
      <h5>Mrs. Ni Wayan Padmi</h5>
      <br/>
      <p>
        Om iha iva stam ma vi yaustam, <br/> visvam ayur vyasnutam, kridantau putrair
        naptrbhih, modamanau sve grhe <br/>( Reg Weda x85.42 )
      </p>
     
    </div>
  </div>
</section>

