<section id="my-section">
  <div class="h-screen grid items-center justify-center relative w-full text-center text-gold my-5 py-3 text-sm" id="two-section" style="background-image: url('/Icon/second.svg'); background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;">
    <div>
      <h1 class="text-sm">THE BELOVED</h1>
      <div class="text-base font-bold text-brownDark">Groom & Bride</div>
    </div>
    <div class="w-full flex items-center justify-center">
      {{ readFile "static/Icon/photo.svg" | safeHTML }}
    </div>
    <div>
      <h1 class="text-base font-semibold">I MADE ALANTINO</h1>
      <div class="text-sm">THE SON OF</div>
      <div class="text-sm">Mr. Adp.I Wayan Lama,SH</div>
      <div class="text-sm">Mrs. Made Artini</div>
    </div>
    <h1 class="font-title text-2xl">&</h1>
    <div class="w-full flex items-center justify-center">
      {{ readFile "static/Icon/photo.svg" | safeHTML }}
    </div>
    <div>
      <h1 class="text-base font-semibold">NI LUH EKA ASTUTI</h1>
      <div class="text-sm">THE SON OF</div>
      <div class="text-sm">Mr. I Made Widnya</div>
      <div class="text-sm">Mrs. Ni Wayan Padmi</div>
    </div>
    <div class="px-10">
        <div class="text-sm">
            Om iha iva stam ma vi yaustam, visvam ayur vyasnutam, kridantau putrair
            naptrbhih, modamanau sve grhe <br/>( Reg Weda x85.42 )
          </div>
          <div class="text-sm">
            Tuhan Yang Maha Pengasih, anugrahilah pengantin ini kebahagiaan, tidak
            terpisah sepanjang masa, panjang umur dan dianugrahi pula putra-putri
            serta cucu-cicit yang utama, serta tinggal di rumah yang penuh
            kegembiraan.
          </div>
    </div>
    
  </div>
</section>

