<section
  id="my-section"
  class="relative py-6 px-8"
  style="
    background-image: url(/Icon/thired.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  "
>
  <div class="grid items-center justify-center text-center gap-2 h-full">
    <div class="my-5 leading-7">
      <div class="text-gold mb-5">
        <h1>Om Swatyastu</h1>
        <p>
          We intend to hold a Wedding Ceremony and it is an honor for us, if you
          are silling to to give your prayers and blessing
        </p>
      </div>
      <div>
        <div class="grid gap-2 text-gold">
          <div class="flex flex-col items-center justify-center">
            {{ readFile "public/Icon/date_range.svg" | safeHTML }}
            <span>Wednesday, 21 June 2023</span>
          </div>
          <div class="flex flex-col items-center justify-center">
            {{ readFile "public/Icon/alarm.svg" | safeHTML }}
            <span>13:00 PM - Selesai</span>
          </div>
          <div class="flex flex-col items-center justify-center">
            {{ readFile "public/Icon/map.svg" | safeHTML }}
            <span>Jl. Mahendradata Bitera</span>
          </div>
        </div>
        <div class="mt-5 text-center">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d246.6020433825684!2d115.31574182523156!3d-8.534993537623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1690045666229!5m2!1sen!2sid"
            width="100%"
            height="209"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div>
        <div class="mt-3 text-center text-gold">
          <span>We thank you for your presence and prayer</span>
          <h1>Om Shanti, Shanti, Shanti Om</h1>
        </div>
      </div>
    </div>
   
  </div>
  {{/*
  <div class="text-center text-gold pb-5">
    <h1>Om Swatyastu</h1>
    We intend to hold a Wedding Ceremony and it is an honor for us, if you are
    silling to to give your prayers and blessing
  </div>

  <div class="grid gap-2 text-gold">
    <div class="flex flex-col items-center justify-center">
      {{ readFile "public/Icon/date_range.svg" | safeHTML }}
      <span>Wednesday, 21 June 2023</span>
    </div>
    <div class="flex flex-col items-center justify-center">
      {{ readFile "public/Icon/alarm.svg" | safeHTML }}
      <span>13:00 PM - Selesai</span>
    </div>
    <div class="flex flex-col items-center justify-center">
      {{ readFile "public/Icon/map.svg" | safeHTML }}
      <span>Jl. Mahendradata Bitera</span>
    </div>
  </div>
  <div class="mt-5 text-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d246.6020433825684!2d115.31574182523156!3d-8.534993537623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1690045666229!5m2!1sen!2sid"
      width="100%"
      height="209"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="mt-3 text-center text-gold">
    <span>We thank you for your presence and prayer</span>
    <h1>Om Shanti, Shanti, Shanti Om</h1>
  </div>
  */}}
</section>
