<section
  id="my-section"
  class="relative py-6 px-8"
  style="
    background-image: url(/Icon/thired.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  "
>
  <div class="grid items-center justify-center text-center gap-2 h-full">
    <div class="my-5 leading-7 border-2 border-gold p-5 text-gold">
      <div class="mb-9 border-b border-gold">
        <h1 class=" text-xl">Resepsi Pernikahan</h1>
      </div>
    
      <div >
        <h1> </h1>
        <h1> 01 November 2023</h1>
        <h1> 13.00 WITA - selesai</h1>
        <h1>Jl. Mahendradata Gang Keko Bitera gianyar</h1>
      </div>
    </div>
   
  </div>
</section>
