{{ define "main" }}
<div class="md:max-w-sm mx-auto relative overflow-hidden bg-gradient-to-r from-greenLight to-greenDark">
    {{ partial "banner" . }}
    {{ partial "second" . }}
    {{/*  {{ partial "second" . }}
    {{ partial "thired" . }}
    {{ partial "gallery" . }}
    {{ partial "form" . }}  */}}

    <div class="music-player fixed bottom-0">
        <audio id="myAudio" controls autoplay>
            {{/*  <source src="all-my-love-inspiring-piano-orchestral-142037.mp3" type="audio/mp3">  */}}
            <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mp3">
        </audio>
        <div class="music-controls">
            <i id="playBtn" class="icon-play"></i>
            <i id="stopBtn" class="icon-stop"></i>
        </div>
    </div>
</div>

<script>
    const audio = document.getElementById("myAudio");
    const playBtn = document.getElementById("playBtn");
    const stopBtn = document.getElementById("stopBtn");

    playBtn.addEventListener("click", () => {
        audio.play();
    });

    stopBtn.addEventListener("click", () => {
        audio.pause();
        audio.currentTime = 0;
    });
</script>

{{ end }}
