{{ define "main" }}
<div class="md:max-w-sm mx-auto relative overflow-hidden bg-white">
    {{ partial "banner" . }}
    {{ partial "second" . }}
    {{ partial "thired" . }}
    {{ partial "gallery" . }}
    {{ partial "form" . }}
    {{ partial "footer" .}}
    {{/*  {{ partial "second" . }}  */}}
    {{/*  {{ partial "second" . }}
    {{ partial "thired" . }}
    {{ partial "gallery" . }}
    {{ partial "form" . }}
    {{ partial "footer" .}}  */}}

    {{/*  <div class="music-player">
        <audio id="myAudio"  autoplay>
            <!-- Commented out sources -->
            <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mp3">
        </audio>
        <div class="bg-white rounded-full" style="border-radius: 50%;">
            {{ if .Params.playBtn }}
                <i id="playBtn" class="icon-play">▶</i>
            {{ end }}
    
            {{ if .Params.stopBtn }}
                <i id="stopBtn" class="icon-stop">⏹</i>
            {{ end }}
        </div>
    </div>  */}}
</div>

{{ end }}
